body {
    background-image: url(https://live.staticflickr.com/65535/49157294761_25a9bb76e6_o_d.jpg);
    background-size: cover;
    }

#calculator {
    border: 3px solid red;
    width: 200px;
    height: 275px;
    position: absolute;
    left: 40%;
    top: 30%;
    margin: auto;
    background-color: black;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 10px red;
}


.calculator-keys {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator-keys button {
    width: 100%;
    background-color: black;
    border-color: red;
    color: red;
    border-radius: 10%;
    height: 45px;
}

.calculator-screen {
    width: 99%;
    color: red;
    background-color: black;
    border-color: red;
    border-radius: 10%;
    height: 45px;
    font-size: 200%;
    text-align: right;
}

.calculator-keys button:hover {
    background-color: red;
    border-color: black;
    color: black;
    border-radius: 10%;
}

.calculator-screen:focus {
    outline: none;
} 

.calculator-keys button:focus {
    outline: none;
} 

.calculator-keys button:active {
    border: red;
}

text {
    text-align: right;
}